#Landing{
    margin-top: 70px;
    height: 35rem;
    background: rgb(157,210,241);
    background: linear-gradient(0deg, rgba(157,210,241,1) 0%, rgba(255,255,255,1) 79%);
}

.LandingImg
{
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}
.crd
{
    height: 470px;
}

.nav-link
{
    color: black;
}
.opt:hover
{
    color: rgb(182,215,234);
    background-color: black;
}
.wave
{
    width: 1152px;
    bottom: 60px;
}
.howtext
{
    margin-top: 5rem;
    margin-bottom: -1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.how
{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 4%, rgba(157,210,241,1) 78%);
}
.BrandName2
{
    color: rgb(0, 26, 255);
}
.navbar-brand:hover .BrandName1
{
    color: rgb(0, 26, 255);
}
.navbar-brand:hover .BrandName2
{
    color: black;
}


/* .team .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  .team .member .pic {
    background-color: lightgray;
    border-radius: 4px;
    overflow: hidden;
  }
  .team .member img {
    transition: all ease-in-out 0.4s;
  }
  .team .member:hover img {
    transform: scale(1.1);
  }
  .team .member .member-info {
    position: absolute;
    bottom: -80px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #01036f;
    position: relative;
    padding-bottom: 10px;
  }
  .team .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #0d12fc;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #01036f;
  }
  .team .member .social {
    margin-top: 10px;
  }
  .team .member .social a {
    transition: color 0.3s;
    color: #01036f;
  }
  .team .member .social a:hover {
    color: #1acc8d;
  }
  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  } */